# Copy this to .env and fill in your values
# Never commit .env to git

PG_HOST=host.docker.internal
PG_PORT=5432
PG_DB=YOUR_DB_NAME
PG_USER=YOUR_PG_USER
PG_PASSWORD=YOUR_PASSWORD

YDB_DIST=/opt/yottadb/current
YDB_GBLDIR=/data/r2.06_x86_64/g/yottadb.gld
